<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I'm studying astronomy at Yonsei University, Korea. I utilize radio telescopes, ALMA and VLA, to study the Giant Molecular Clouds (GMCs), ISM, and magnetic field in extreme environments. 
                I also use the simulation data (e.g., TIGRESS simulation) to study the same topics above. 
            </p>
            <p class="paragraph-text justify-text">
            </p>
            <p class="paragraph-text justify-text">
            </p>
        </div>
    </section>
</div>
