<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="WISDOM GMC" class="semi-transparent-button with-border white-button" onclick="selected('WISDOM GMC')">WISDOM GMC</a>
                    <a id="TIGRESS-RPS Simulation" class="semi-transparent-button with-border white-button" onclick="selected('TIGRES-RPS Simulation')">TIGRES-RPS Simulation</a>
                    <a id="Magnetic field observation" class="semi-transparent-button with-border white-button" onclick="selected('Magnetic field observation')">Magnetic field observation</a>
                    <!--a id="diy" class="semi-transparent-button with-border white-button" onclick="selected('diy')">DIY</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
